<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mir.panosdev.cookingrecipesmvp">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:name=".application.RecipeApplication">
        <activity android:name=".modules.home.MainActivity"/>
        <activity android:name=".modules.detail.DetailsActivity"/>
        <activity android:name=".modules.search.SearchActivity"/>
        <activity android:name=".modules.newRecipe.NewRecipeActivity"/>
        <activity android:name=".modules.userprofile.UserProfileActivity"/>
        <activity android:name=".modules.register.RegisterActivity"/>
        <activity android:name=".modules.login.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>